ion-menu-button {
  color: var(--ion-color-primary);
}
.pages-header {
  ion-title {
    color: white;
    font-weight: normal;
  }
  ion-menu-button {
    color: white;
  }
  &_profile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 1.3em;

    a {
      text-decoration: none;
      color: white;
    }
  }
}
#container {
  .pages {
    margin-top: 57px;
  }

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
