<ion-content [fullscreen]="true" class="app-settings-dialog">
  <ion-header class="app-settings-dialog-header">
    <h3> Настраиваем приложение </h3>
  </ion-header>
  <form>
    <div class="app-settings-dialog-content">
      <div class="app-settings-dialog-content_form-field">
        <mat-form-field appearance="outline" class="app-settings-dialog-content_form-field">
          <mat-label>Имя</mat-label>
          <input matInput type="text" placeholder="Ваше имя" [formControl]="nameControl">
        </mat-form-field>
      </div>
      <div class="app-settings-dialog-content_form-field">
        <mat-form-field appearance="outline" class="app-settings-dialog-content_form-field">
          <mat-label>Рост</mat-label>
          <input matInput type="number" placeholder="Ваш рост в см" [formControl]="growthControl">
        </mat-form-field>
      </div>
      <div class="app-settings-dialog-content_form-field">
        <mat-form-field appearance="outline" class="app-settings-dialog-content_form-field">
          <mat-label>Пол</mat-label>
          <mat-select [formControl]="sexControl">
            <mat-option value="man">Мужской</mat-option>
            <mat-option value="woman">Женский</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="app-settings-dialog-content_form-field">
        <mat-form-field appearance="outline" class="app-settings-dialog-content_form-field">
          <mat-label>Дата рождения</mat-label>
          <input matInput [matDatepicker]="datepickerBirthday" [formControl]="birthdayControl">
          <mat-datepicker-toggle matSuffix [for]="datepickerBirthday"></mat-datepicker-toggle>
          <mat-datepicker #datepickerBirthday></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="app-settings-dialog-content_form-field">
        <mat-form-field appearance="outline" class="app-settings-dialog-content_form-field">
          <mat-label>Пересаженный орган</mat-label>
          <mat-select [formControl]="transplantOrganControl">
            <mat-option value="Kidney">Почка</mat-option>
            <mat-option value="Liver">Печень</mat-option>
            <mat-option value="Lungs">Легкие</mat-option>
            <mat-option value="Heart">Сердце</mat-option>
            <mat-option value="Pancreas">Поджелудочная железа</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="app-settings-dialog-content_form-field">
        <mat-form-field appearance="outline" class="app-settings-dialog-content_form-field">
          <mat-label>Дата трансплантации</mat-label>
          <input matInput [matDatepicker]="datepickerTransplantDate" [formControl]="transplantDateControl">
          <mat-datepicker-toggle matSuffix [for]="datepickerTransplantDate"></mat-datepicker-toggle>
          <mat-datepicker #datepickerTransplantDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <ion-footer class="app-settings-dialog-footer">
      <button mat-stroked-button (click)="cancelAction()">Закрыть</button>
      <button mat-raised-button color="primary" (click)="saveSettingsAction()">Сохранить</button>
    </ion-footer>
  </form>
</ion-content>
