<div class="weight-research">
  <div class="weight-research-new-item" *ngIf="weightData.length !== 0">
    <button mat-fab color="primary" (click)="createWeightItemAction()">
      <fa-icon icon="plus"></fa-icon>
    </button>
  </div>
  <ion-content [fullscreen]="true">
    <div *ngIf="weightData.length === 0" class="weight-research_content-empty">
      <img src="assets/icon/blood-pressure-empty.png" alt="Журнал давления пуст"/>
      <div class="weight-research_content-empty-button">
        <button (click)="createWeightItemAction()">
          Добавить первое измерение
        </button>
      </div>
    </div>
    <div class="weight-research" *ngIf="weightData.length !== 0">
      <div class="weight-research-chart">
        <div class="weight-research-chart_header" *ngIf="firstItem?.weight">
          <div class="weight-research-chart_header-title">
            Вес <span>(кг)</span>
          </div>
          <div class="weight-research-chart_header-value">
            <strong>{{ firstItem?.weight}}</strong>
          </div>
        </div>
        <div class="weight-research-chart_content">
          <canvas baseChart
                  [colors]="chartColors"
                  [datasets]="chartData"
                  [labels]="chartLabels"
                  [chartType]="chartType"
          >
          </canvas>
        </div>
      </div>
      <div class="weight-research-imt" *ngIf="appSettings?.growth">
        <div class="weight-research-imt_header" *ngIf="imt">
          <div class="weight-research-imt_header-title">
            ИМТ <span>(кг/m2)</span>
          </div>
          <div class="weight-research-imt_header-value">
            <strong>{{ imt.value }}</strong>
          </div>
        </div>
        <div class="weight-research-imt_content">
          <div class="weight-research-imt_content-chart">
            <div class="weight-research-imt_content-chart-item minimal"></div>
            <div class="weight-research-imt_content-chart-item low" [ngClass]="{'opacity': !(imt.value >= 16.5), 'marker': imt.value  >= 16.5 && imt.value  <= 18.4  }"></div>
            <div class="weight-research-imt_content-chart-item norm" [ngClass]="{'opacity': !(imt.value >= 18.5), 'marker': imt.value  >= 18.5 && imt.value  <= 24.9  }"></div>
            <div class="weight-research-imt_content-chart-item height" [ngClass]="{'opacity': !(imt.value >= 25), 'marker': imt.value  >= 25 && imt.value  <= 30  }"></div>
            <div class="weight-research-imt_content-chart-item obesity_one" [ngClass]="{'opacity': !(imt.value >= 30.1), 'marker': imt.value  >= 30.1 && imt.value  <= 34.9  }"></div>
            <div class="weight-research-imt_content-chart-item obesity_two" [ngClass]="{'opacity': !(imt.value >= 35), 'marker': imt.value  >= 35  }"></div>
          </div>
          <div class="weight-research-imt_content-description">
            <div class="weight-research-imt_content-description-circle"
                 [ngClass]="{
              'minimal': imt.category === imtCategory.MINIMAL,  'low': imt.category === imtCategory.LOW, 'norm': imt.category === imtCategory.NORM, 'height': imt.category === imtCategory.HEIGHT, 'obesity_one': imt.category === imtCategory.OBESITY_ONE, 'obesity_two': imt.category === imtCategory.OBESITY_TWO, 'obesity_three': imt.category === imtCategory.OBESITY_THREE
            }"></div>
            <div>{{ imt.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>

