<ion-content [fullscreen]="true">
<div class="weight-research">
  <div class="weight-research-header">
    <div class="weight-research-header_initial">
      <div>
        <strong>Начальный</strong>
      </div>
      <div *ngIf="firstItem?.weight">
        {{ firstItem?.weight }} kg
      </div>
    </div>
    <div class="weight-research-header_current">
      <div>
        <strong>Текущий</strong>
      </div>
      <div>
        <span class="color-blue" *ngIf="lastItem?.weight">
          <strong>{{ lastItem?.weight}} kg</strong>
        </span>
      </div>
    </div>
    <div class="weight-research-header_target">
      <div>
        <strong>Цель</strong>
      </div>
      <div *ngIf="weightSettings?.plannedWeight">
        {{ weightSettings?.plannedWeight }} kg
      </div>
    </div>
  </div>
  <div class="weight-research-content">
    <canvas #lineCanvas ></canvas>
  </div>
  <div class="weight-research-footer">
    <div class="weight-research-footer_changes">
      <div>
        <strong>Изменения</strong>
      </div>
      <div *ngIf="lastItem?.diff" [style.color]="lastItem?.diff > 0 ? 'red' : 'green' ">
        {{ lastItem?.diff }} kg
      </div>
    </div>
    <div class="weight-research-footer_new">
      <button mat-fab color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="weight-research-footer_stock">
      <div>
        <strong>Осталось</strong>
      </div>
      <div *ngIf="weightSettings?.plannedWeight && lastItem?.weight" [style.color]="weightSettings?.plannedWeight - lastItem?.weight > 0 ? 'red' : 'green' ">
        {{ weightSettings?.plannedWeight - lastItem?.weight}} kg
      </div>
    </div>
  </div>
</div>
</ion-content>
