.weight-research {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;

  &-header {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    align-content: center;

    &_initial {
      text-align: center;
    }

    &_current {
      text-align: center;
      .color-blue {
        color: dodgerblue;
      }
    }

    &_target {
      text-align: center;
    }
  }

  &-content {
    min-height: 220px;
  }
  &-footer {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    align-content: center;

    &_changes {
      text-align: center;
    }

    &_stock {
      text-align: center;
    }
  }
}
