<div class="app-blood-pressure-registry">
    <div class="app-blood-pressure-registry-new-item">
        <button mat-fab color="primary" (click)="newBloodPressureAction()">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </div>
    <div *ngFor="let year of dataList" >
        <div class="app-blood-pressure-registry_date">
            <span>{{ year.year }}</span>
        </div>
        <div *ngFor="let month of year.months">
            <div class="app-blood-pressure-registry_date">
                <span>{{ month.month }}</span>
            </div>
            <div class="app-blood-pressure-registry_item" *ngFor="let item of month.items">
                <div class="app-blood-pressure-registry_item-row" (click)="toggleSubMenu(item)">
                    <div class="app-blood-pressure-registry_item-date" >
                        <span>{{ item.date | date:'dd' }}</span>
                    </div>
                    <div class="app-blood-pressure-registry_item-weight">
                        {{ item.bloodPressureSystolic }} /  {{ item.bloodPressureDiastolic }}
                    </div>
                    <div class="app-blood-pressure-registry_item-diff">
                      <span class="app-blood-pressure-registry_item-diff-icon" *ngIf="item.pulse">
                          <fa-icon icon="heart" ></fa-icon>
                      </span>
                        <span class="app-blood-pressure-registry_item-diff-value">
                          {{ item.pulse }}
                      </span>
                    </div>
                    <div class="app-blood-pressure-registry_item-menu">
                        <button class="app-blood-pressure-registry_item-menu-button">
                            <fa-icon icon="ellipsis-v"></fa-icon>
                        </button>
                    </div>
                </div>
                <div class="app-blood-pressure-registry_item-comment" *ngIf="item.comment">
                    <span>{{ item.comment }}</span>
                </div>
                <div *ngIf="item.showSubMenu" class="app-blood-pressure-registry_item-actions">
                    <button class="app-blood-pressure-registry_item-actions-edit" mat-raised-button (click)="editBloodPressureAction(item)">Изменить</button>
                    <button class="app-blood-pressure-registry_item-actions-remove" mat-raised-button  (click)="removeBloodPressureAction(item)">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>
