<ion-app>
    <ion-tabs class="pills-research-tabs">
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="research">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Прием лекарств</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="drugs">
                <ion-icon name="bandage-outline"></ion-icon>
                <ion-label>Все лекарства</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="history">
                <ion-icon name="map"></ion-icon>
                <ion-label>История</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-app>
