<ion-content [scrollEvents]="true">
  <div class="pills-drugs">
    <div class="pills-drugs-header">
      <div class="pills-drugs-header_search">
        <span *ngIf="!showSearch">Список лекарств</span>
        <input *ngIf="showSearch" type="text" matInput [formControl]="searchControl" autofocus  placeholder="Поиск лекарств">
      </div>
      <div (click)="toggleSearchBarAction()">
        <fa-icon matSuffix icon="search"></fa-icon>
      </div>
    </div>

    <div class="pills-drugs-content">
      <div *ngFor="let pill of pillListSearch">
        <div class="pills-drugs-content_item" (click)="createPillsTakingAction(pill)">
          <div class="pills-drugs-content_item-name">
            {{ pill.name}}
          </div>
        </div>
      </div>
      <div *ngIf="pillListSearch.length === 0">

        <div class="pills-drugs-content_item-new"(click)="createPillsTakingAction({})">
          <div>
            Добавить лекарство
          </div>
          <div class="pills-drugs-content_item-new-icon">
            <fa-icon icon="plus"></fa-icon>
          </div>

        </div>
      </div>
    </div>

    <div class="pills-drugs-footer">

    </div>
  </div>
</ion-content>
