<ion-content [fullscreen]="true" class="app-settings">
  <div class="app-settings-header">
    <div class="app-settings-header_title">Настройки</div>
    <div class="app-settings-header_divider"></div>
  </div>
  <form>
    <div class="app-settings-content">
      <div class="app-settings-content_form-field">
        <app-input-text
                class="app-settings-content_form-field"
                label="Имя"
                placeholder="Ваше имя"
                [control]="nameControl"
        ></app-input-text>
      </div>
      <div class="app-settings-content_form-field">
        <app-input-number
            class="app-settings-content_form-field"
            label="Рост, cм"
            placeholder="Ваш рост в см"
            [control]="growthControl"
        ></app-input-number>
      </div>
      <div class="app-settings-content_form-field">
        <app-input-number
                class="app-settings-content_form-field"
                label="Планируемый вес, кг"
                placeholder="Вес который вы бы хотели иметь, кг"
                [control]="plannedWeightControl"
        ></app-input-number>
      </div>
      <div class="app-settings-content_form-field">
        <app-input-select
          label="Пол"
          [control]="sexControl"
          [selectList]="sexList"
        ></app-input-select>
      </div>
      <div class="app-settings-content_form-field">
        <app-input-date
                class="app-settings-content_form-field"
                label="Дата рождения"
                [control]="birthdayControl"
        ></app-input-date>
      </div>
      <div class="app-settings-content_form-field">
        <app-input-select
                label="Пересаженный орган"
                [control]="transplantOrganControl"
                [selectList]="transplantOrgan"
        ></app-input-select>
      </div>
      <div class="app-settings-content_form-field">
        <app-input-date
                class="app-settings-content_form-field"
                label="Дата трансплантации"
                [control]="transplantDateControl"
        ></app-input-date>
      </div>
    </div>

    <div class="app-settings-footer">
      <button mat-raised-button color="primary" (click)="saveSettingsAction()">Сохранить</button>
    </div>
  </form>
</ion-content>


