<ion-content [fullscreen]="true">
  <div class="body-temperature-research">
    <div class="body-temperature-research-header">
      <div class="body-temperature-research-header_current" *ngIf="lastItem">
        <div>
          <strong>Текущее</strong>
        </div>
        <div>
        <span class="color-blue">
          <strong>{{ lastItem.temperature}} &#176;</strong>
        </span>
        </div>
      </div>
    </div>
    <div class="body-temperature-research-content">
      <canvas #lineCanvas ></canvas>
    </div>
    <div class="body-temperature-research-footer">
      <div class="body-temperature-research-footer_changes" *ngIf="lastItem">
        <div>
          <strong>Изменения</strong>
        </div>
        <div>
          {{ +(lastItem.temperature - 36.6).toFixed(2) }} &#176;
        </div>
      </div>
      <div class="body-temperature-research-footer_new">
        <button mat-fab color="primary" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="body-temperature-research-footer_stock">
        <div>
          <strong>Норма</strong>
        </div>
        <div>
          {{ normBodyTemperature }} &#176;
        </div>
      </div>
    </div>
  </div>
</ion-content>
