<ion-content [fullscreen]="true" class="pills-new-item">
    <div class="pills-item-new-header">
        <fa-icon icon="send-back"></fa-icon>
    </div>
    <form [formGroup]="pillsFormGroup">
        <div class="pills-new-item-content">
            <div class="pills-new-item-content_form-field">
                <mat-form-field appearance="outline" class="pills-item-new_form-field-name">
                    <mat-label>Название</mat-label>
                    <input matInput type="text" placeholder="Новое лекарство" [formControl]="nameControl">
                </mat-form-field>

            </div>

            <div class="pills-new-item-content_form-field">

            </div>
        </div>

        <ion-footer class="pills-new-item-footer">
            <app-dialog-buttons
                    (saveEmitter)="saveAction()"
                    (cancelEmitter)="cancelAction()"
                    (removeEmitter)="removeAction()"
            ></app-dialog-buttons>
        </ion-footer>
    </form>
</ion-content>
