<ion-content [fullscreen]="true" class="well-being-statistic">
  <ion-header class="well-being-statistic-header">
    <h3> Статистика </h3>
  </ion-header>
  <div class="well-being-statistic-content">
    <div class="well-being-statistic-content_item">
      <div class="well-being-statistic-content_item-title">Тенденция</div>
      <mat-divider></mat-divider>
      <div class="well-being-statistic-content_item-content">
        <div class="well-being-statistic-content_item-content-field">
          <div>Динамика за посл. 7 дней:</div>
          <div><span style="color: {{ dynamic7days > 0 ? 'green' : 'red' }}">{{ dynamic7days}}</span></div>
        </div>
        <div class="well-being-statistic-content_item-content-field">
          <div>Динамика за посл. 30 дней: </div>
          <div><span style="color: {{ dynamic7days > 0 ? 'green' : 'red' }}">{{ dynamic30days}}</span></div>
        </div>
      </div>
    </div>
    <div class="well-being-statistic-content_item">
      <div class="well-being-statistic-content_item-title">В среднем</div>
      <mat-divider></mat-divider>
      <div class="well-being-statistic-content_item-content">
        <div class="well-being-statistic-content_item-content-field">
          <div>Средний: </div>
          <div>{{ middleWeight}}</div>
        </div>
        <div class="well-being-statistic-content_item-content-field">
          <div>Рекорд (максимум): </div>
          <div>{{ recordMax}}</div>
        </div>
        <div class="well-being-statistic-content_item-content-field">
          <div>Рекорд (минимум): </div>
          <div>{{ recordMin}}</div>
        </div>
      </div>
    </div>
  </div>

  <ion-footer class="well-being-statistic-footer">

  </ion-footer>
</ion-content>
