<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="research">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Обзор</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="statistic">
        <ion-icon name="map"></ion-icon>
        <ion-label>Статистика</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="registry">
        <ion-icon name="map"></ion-icon>
        <ion-label>Журнал диуреза</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
