<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="date" >
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Дата </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'yyyy.MM.dd'}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="volume" >
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Объем </th>
      <td mat-cell *matCellDef="let element"> {{element.volume }} </td>
    </ng-container>


    <!-- Position Column -->
    <ng-container matColumnDef="pain" >
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Интенсивность боли </th>
      <td mat-cell *matCellDef="let element"> {{element.pain }} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="urgeIntensity" >
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Интенсивность позыва </th>
      <td mat-cell *matCellDef="let element"> {{element.urgeIntensity }} </td>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef width="20px"></th>
      <td mat-cell *matCellDef="let row">
        <fa-icon icon="arrow-right"></fa-icon>
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Журнал диуреза пуст</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickByRowAction(row)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
