<ion-content [fullscreen]="true" class="app-about">
    <div class="app-about-header">
        <div class="app-about-header_title">О нас</div>
        <div class="app-about-header_divider"></div>
    </div>
    <form>
        <div class="app-about-content">
            <div class="app-about-content_title">
                <div class="app-about-content_title-name">Transplantology</div>
                <div><img src="assets/icon/logo-ddt.png" width="48"/></div>
            </div>
            <div class="app-about-content_version">
                Версия 1.1.1
            </div>
            <div class="app-about-content_text">
                Transplantology создано для напоминания о событиях приема лекарств и посещения врачей, отслеживания состояния здоровья пациентов готовящихся или перенесших операцию по трансплантологии.
            </div>
            <div class="app-about-content_text-logo">
                <div>Социально-просветительской учреждение</div>
                <div class="app-about-content_text-logo-text app-about-content_text-logo-red">Международный центр</div>
                <div class="app-about-content_text-logo-text">Донорство</div>
                <div class="app-about-content_text-logo-text">Диализ</div>
                <div class="app-about-content_text-logo-text">Трансплантация</div>
            </div>
        </div>

        <div class="app-about-footer">
        </div>
    </form>
</ion-content>


