<ion-content [fullscreen]="true" class="login">
  <ion-header>
    <h3>{{ 'PAGES.LOGIN.TITLE' | translate }}
      <span class="login_link">{{ 'SHARED.PHRASES.OR' | translate }} <a  routerLink="/pages/registration">{{ 'PAGES.LOGIN.REGISTRATION' | translate }}</a></span>
    </h3>
  </ion-header>
  <form [appLoading]="loading$ | async">
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.LOGIN.EMAIL' | translate }}</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.LOGIN.PASSWORD' | translate }}</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-footer>
      <ion-button color="primary">{{ 'PAGES.LOGIN.SIGNIN' | translate }}</ion-button>
      <a routerLink="/pages/forgot-password">{{ 'PAGES.LOGIN.FORGOT_PASSWORD' | translate }}</a>
    </ion-footer>
  </form>
</ion-content>
