<ion-content [fullscreen]="true" class="weight-item-dialog">
  <ion-header class="weight-item-dialog-header">
    <h3>
      Вес
    </h3>
  </ion-header>
  <form [formGroup]="weightFormGroup">
    <div class="weight-item-dialog-content">
      <div class="weight-item-dialog-content_form-field">
        <app-input-number
                label="Вес"
                icon="weight"
                placeholder="Ваш текущий вес"
                [numberControl]="weightControl"
              ></app-input-number>
      </div>

      <div class="weight-item-dialog-content_form-field">
        <app-input-date  [dateControl]="dateControl"></app-input-date>
      </div>
    </div>

    <ion-footer class="weight-item-dialog-footer">
      <app-dialog-buttons
        class="weight-item-dialog-footer_content"
        [mode]="this.data.mode"
        (saveEmitter)="saveAction()"
        (cancelEmitter)="cancelAction()"
        (removeEmitter)="removeAction()"
      ></app-dialog-buttons>
    </ion-footer>
  </form>
</ion-content>
