.main-content::part(container) {
  border-radius: 0  10px 0  0;
}

.main-menu-content::part(background) {
    border-radius: 10px !important;
    background: #fff !important;
    top: -10px !important;
}

.main-content {
  border: 0;
}

.main-menu {
  &_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
  }

  &-content {
    &_chevron {
      color: #B71C1C;
      opacity: 0.5;
    }
  }

  &-header {
    background: rgba(183, 28, 28, 0.8);
    border-radius: 0  10px 0  0;
    padding: 20px;
    min-height: 165px;

    &_name {
      font-size: 29px;
      line-height: 40px;
      color: var(--theme-color-yellow-light-hex);
      display: flex;
      justify-content: space-between;
    }

    &_icon {
      font-size: 20px !important;
      line-height: 20px;
    }

    &_text{
      font-size: 14px;
      line-height: 15px;
      color: var(--theme-color-yellow-light-hex);
      max-width: 210px;
    }
  }
}

.item-native .item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
  color: #714F4F !important;
  font-size: 16px !important;
  line-height: 18px !important;
}

ion-menu.md ion-content {
  border-radius: 10px 10px 0 0;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item ion-icon {
  color: #714F4F;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

.main-menu_icon {
  margin: 0 10px;
  color: #714F4F;
  opacity: 0.3;
}

.main-menu_sub-item {
  padding-left: 20px;
  &-last-divider {
    position: relative;
    left: -20px
  }
}
