<ion-app class="main">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menu-id="main" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header class="inbox-list-header">
            <fa-icon icon="birthday-cake"></fa-icon>
            <span>{{ afterTransplantationYear }} лет {{ afterTransplantationMonth }} месяцев<br/> после трансплантации</span>
          </ion-list-header>

          <ion-note>{{ settings?.name }}</ion-note>

            <div  *ngFor="let page of appPages; let i = index">
              <ion-item
                      lines="none"
                      detail="false"
                      routerDirection="root"
                      [class.selected]="selectedIndex == i"
                      (click)="menuItemClickAction(i)">
                <div class="main-menu_icon">
                  <fa-icon icon="{{ page.icon }}"></fa-icon>
                </div>
                <ion-label>{{ page.title }}</ion-label>

                <div *ngIf="page.subPages?.length > 0">
                  <fa-icon *ngIf="page.isOpen" icon="arrow-down"></fa-icon>
                  <fa-icon *ngIf="!page.isOpen" icon="arrow-right"></fa-icon>
                </div>

              </ion-item>

              <div *ngIf="page.subPages?.length > 0 && page.isOpen" class="main-menu_sub-item">
                <div *ngFor="let sub of page.subPages ">
                  <ion-item
                          lines="none"
                          detail="false"
                          routerDirection="root"
                          [class.selected]="selectedIndex == i"
                          (click)="menuSubItemClickAction(sub.url)">
                    <div class="main-menu_icon">
                      <fa-icon icon="{{ sub.icon }}"></fa-icon>
                    </div>
                    <ion-label>{{ sub.title }}</ion-label>
                  </ion-item>
                </div>
              </div>
            </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
