<div class="app-weight-history">
    <div class="app-weight-history-new-item">
        <button mat-fab color="primary" (click)="newWeightDialogAction()">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </div>
  <div *ngFor="let year of dataList" >
      <div class="app-weight-history_date">
          <span>{{ year.year }}</span>
      </div>
      <div *ngFor="let month of year.months">
          <div class="app-weight-history_date">
              <span>{{ month.month }}</span>
          </div>
          <div class="app-weight-history_item" *ngFor="let item of month.items">
              <div class="app-weight-history_item-row" (click)="toggleSubMenu(item)">
                  <div class="app-weight-history_item-date" >
                      <span>{{ item.date | date:'dd' }}</span>
                  </div>
                  <div class="app-weight-history_item-weight">
                      {{ item.weight }} кг
                  </div>
                  <div class="app-weight-history_item-diff">
                      <span class="app-weight-history_item-diff-icon" *ngIf="item.diff">
                          <fa-icon icon="chart-bar"></fa-icon>
                      </span>
                      <span class="app-weight-history_item-diff-value">
                          {{ item.diff }}
                      </span>
                  </div>
                  <div class="app-weight-history_item-menu">
                      <button class="app-weight-history_item-menu-button">
                          <fa-icon icon="ellipsis-v"></fa-icon>
                      </button>
                  </div>
              </div>
              <div class="app-weight-history_item-comment" *ngIf="item.comment">
                  <span>{{ item.comment }}</span>
              </div>
              <div *ngIf="item.showSubMenu" class="app-weight-history_item-actions">
                  <button class="app-weight-history_item-actions-edit" mat-raised-button (click)="editWeightDialogAction(item)">Изменить</button>
                  <button class="app-weight-history_item-actions-remove" mat-raised-button  (click)="removeWeightAction(item)">Удалить</button>
              </div>
          </div>
      </div>
  </div>
</div>
