<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="research">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Обзор</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="statistic">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Статистика</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon name="map"></ion-icon>
        <ion-label>Журнал взвешивания</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Настройки</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
