<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="research">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Обзор</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="map"></ion-icon>
      <ion-label>История</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-app>
<!--<div class="weight">
  <div class="weight-header">
    1. Начальный
    2. Текущий
  </div>
  <div class="weight-content">
    <div class="weight-content-chart">

    </div>
    <div class="weight-content-change">
        1. Изменения
        2. Добавить новый
        3. Осталось (изменить)
    </div>
  </div>
  <div class="weight-footer">
    tabs
    1. Обзор
    2. Статистика
    3. История
  </div>
</div>-->

