<ion-content [fullscreen]="true" class="pills-item-dialog">
  <form [formGroup]="doctorVisitFormGroup">
    <div class="pills-item-dialog-content">
      <div class="pills-item-dialog-content_form-field">
        <mat-form-field appearance="outline" class="pills-item-dialog-content_form-field">
          <mat-label>Специальность врача</mat-label>
          <input matInput type="text" placeholder="Название лекарства" [formControl]="specialtyControl" required>
          <fa-icon matSuffix icon="pills"></fa-icon>
        </mat-form-field>
      </div>

      <div class="pills-item-dialog-content_form-field">
        <mat-form-field appearance="outline" class="pills-item-dialog-content_form-field">
          <mat-label>Время приема</mat-label>
          <input matInput placeholder="Время приема" atp-time-picker [formControl]="timeControl" required>
        </mat-form-field>
      </div>

      <div class="pills-item-dialog-content_form-field">
        <mat-form-field appearance="outline" class="pills-item-dialog-content_form-field" (click)="dateDatepicker.open()">
          <mat-label>Дата приема</mat-label>
          <input matInput [matDatepicker]="dateDatepicker" [formControl]="dateControl" required >
          <mat-datepicker-toggle matSuffix [for]="dateDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #dateDatepicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="pills-item-dialog-content_form-field">
          <mat-checkbox  class="example-margin"[formControl]="notificationControl">Напомнить о приеме</mat-checkbox>
      </div>

      <div class="pills-item-dialog-content_form-field">
        <mat-form-field appearance="outline" class="pills-item-dialog-content_form-field">
          <mat-label>Комментарий</mat-label>
          <textarea matInput [formControl]="commentControl" placeholder="Комментарий к посещению врача"></textarea>
        </mat-form-field>
      </div>
    </div>

    <ion-footer class="pills-item-dialog-footer">
      <button mat-stroked-button (click)="cancelAction()">Закрыть</button>
      <button mat-raised-button color="warn" *ngIf="this.data.mode === 'edit'" (click)="removeAction()">Удалить</button>
      <button mat-raised-button color="primary" (click)="saveAction()" disabled="{{ doctorVisitFormGroup.invalid }}">Сохранить</button>
    </ion-footer>
  </form>
</ion-content>
