<ion-content [fullscreen]="true" class="login">
  <ion-header>
    <h3>{{ 'PAGES.REGISTRATION.TITLE' | translate }}
      <span>{{ 'SHARED.WORDS.OR' | translate }} <a routerLink="/pages/login">{{ 'PAGES.REGISTRATION.LOGIN' | translate }}</a></span>
    </h3>
  </ion-header>

  <form [appLoading]="loading$ | async">
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.EMAIL' | translate }}</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.FIRST_NAME' | translate }}</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.LAST_NAME' | translate }}</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.PASSWORD' | translate }}</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.CONFIRMATION_PASSWORD' | translate }}</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.COUNTRY' | translate }}</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.CITY' | translate }}</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.PHONE' | translate }}</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.BIRTHDAY' | translate }} </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.SEX' | translate }} </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.YOUR_DOCTOR' | translate }} </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PAGES.REGISTRATION.TRANSPLANT_ORGAN' | translate }}</ion-label>
      <ion-select
              okText="{{ 'SHARED.BUTTONS.OK' | translate }}"
              cancelText="{{ 'SHARED.BUTTONS.CANCEL' | translate }}"
              placeholder="{{ 'PAGES.BUTTONS.SELECT_ONE' | translate }}">
        >
        <ion-select-option *ngFor="let organ of transplantOrgansList" value="{{ organ }}">
          {{ organ}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Transplant Organ Data</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY" placeholder="{{ 'PAGES.BUTTONS.SELECT_DATA' | translate }}" min="1950" max="2022"></ion-datetime>
    </ion-item>

    <ion-footer>
      <ion-button color="primary">Registration</ion-button>
    </ion-footer>
  </form>
</ion-content>
