<ion-content [fullscreen]="true" class="registration">
  <ion-header class="registration-header">
    <h3>
      {{ 'PAGES.REGISTRATION.TITLE' | translate }}
      <span>{{ 'SHARED.WORDS.OR' | translate }} </span>
      <a routerLink="/pages/login">{{ 'PAGES.REGISTRATION.LOGIN' | translate }}</a>
    </h3>
  </ion-header>
  <form [appLoading]="loading$ | async" >
    <div class="registration-content">
      <div class="registration-content_form-field">
        <mat-form-field appearance="outline" class="registration-form_field">
          <mat-label>{{ 'PAGES.REGISTRATION.FIRST_NAME' | translate }}</mat-label>
          <input matInput type="text" placeholder="{{ 'PAGES.REGISTRATION.FIRST_NAME' | translate }}">
          <fa-icon class="registration-form_icon" matSuffix icon="user-alt"></fa-icon>
        </mat-form-field>
      </div>
      <div class="registration-content_form-field">
        <mat-form-field appearance="outline" class="registration-form_field">
          <mat-label>{{ 'PAGES.REGISTRATION.LAST_NAME' | translate }}</mat-label>
          <input matInput type="text" placeholder="{{ 'PAGES.REGISTRATION.LAST_NAME' | translate }}">
          <fa-icon class="registration-form_icon" matSuffix icon="user-alt"></fa-icon>
        </mat-form-field>
      </div>

      <div class="registration-content_form-field">
        <mat-form-field appearance="outline" class="registration-form_field">
          <mat-label>{{ 'PAGES.REGISTRATION.EMAIL' | translate }}</mat-label>
          <input matInput type="text" placeholder="{{ 'PAGES.REGISTRATION.EMAIL' | translate }}">
          <fa-icon class="registration-form_icon" matSuffix icon="envelope"></fa-icon>
        </mat-form-field>
      </div>
      <div class="registration-content_form-field">
        <mat-form-field appearance="outline" class="registration-form_field">
          <mat-label>{{ 'PAGES.REGISTRATION.PASSWORD' | translate }}</mat-label>
          <input matInput type="password" placeholder="{{ 'PAGES.REGISTRATION.PASSWORD' | translate }}">
          <fa-icon class="registration-form_icon" matSuffix icon="key"></fa-icon>
        </mat-form-field>
      </div>
      <div class="registration-content_form-field">
        <mat-form-field appearance="outline" class="registration-form_field">
          <mat-label>{{ 'PAGES.REGISTRATION.CONFIRMATION_PASSWORD' | translate }}</mat-label>
          <input matInput type="password" placeholder="{{ 'PAGES.REGISTRATION.CONFIRMATION_PASSWORD' | translate }}">
          <fa-icon class="registration-form_icon" matSuffix icon="key"></fa-icon>
        </mat-form-field>
      </div>
      <div class="registration-content_form-field">
        <mat-form-field appearance="outline" class="registration-form_field">
          <mat-label>{{ 'PAGES.REGISTRATION.TRANSPLANT_ORGAN' | translate }}</mat-label>
          <mat-select>
            <mat-option *ngFor="let organ of transplantOrgansList" value="{{ organ }}">
              {{ organ }}
            </mat-option>
          </mat-select>
          <fa-icon class="registration-form_icon" matSuffix icon="lungs"></fa-icon>
        </mat-form-field>
      </div>
      <div class="registration-content_form-field">
        <mat-form-field appearance="outline" class="registration-form_field">
          <mat-label>{{ 'PAGES.REGISTRATION.TRANSPLANT_ORGAN_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="datepicker">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </div>
  </div>

    <ion-footer class="registration-footer">
      <button mat-raised-button color="primary">{{ 'PAGES.REGISTRATION.REGISTRATION_BUTTON' | translate }}</button>
    </ion-footer>
  </form>
</ion-content>
