<ion-content [fullscreen]="true" class="login">
  <ion-header>
    <h3>Registration <span>or <a routerLink="/pages/login">Login</a></span></h3>
  </ion-header>

  <form [appLoading]="loading$ | async">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmation Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Birthday</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Transplant Organ</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Kidney</ion-select-option>
        <ion-select-option value="m">Heart</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Transplant Organ Data</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY" placeholder="Select Date" min="1950" max="2022"></ion-datetime>
    </ion-item>

    <ion-footer>
      <ion-button color="primary">Registration</ion-button>
    </ion-footer>
  </form>
</ion-content>
