<ion-content [fullscreen]="true" class="weight-settings">
  <ion-header class="weight-settings-header">
    <h3> Настройки веса </h3>
  </ion-header>
  <form [formGroup]="weightSettingsFormGroup" (ngSubmit)="saveSettingsAction()">
    <div class="weight-settings-content">
      <div class="weight-settings-content_form-field">
        <mat-form-field appearance="outline" class="weight-settings-content_form-field">
          <mat-label>Планируемый вес</mat-label>
          <input matInput type="number" placeholder="Планируемый вес" [formControl]="plannedWeightControl">
          <fa-icon icon="weight" matSuffix></fa-icon>
        </mat-form-field>
      </div>
    </div>

    <ion-footer class="weight-settings-footer">
      <button mat-raised-button color="primary" (click)="saveSettingsAction()">Сохранить</button>
    </ion-footer>
  </form>
</ion-content>
