<div class="blood-pressure-statistic">
    <div class="blood-pressure-statistic-new-item">
        <button mat-fab color="primary" (click)="newItemAction()">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </div>
    <ion-content [fullscreen]="true" class="blood-pressure-statistic">
        <div class="blood-pressure-statistic-header">
            <div class="blood-pressure-statistic-header_row">
                <div class="blood-pressure-statistic-header_item">
                    <div class="blood-pressure-statistic-header_item-name">Среднее давление</div>
                    <div class="blood-pressure-statistic-header_item-value">{{ middleItem.bloodPressureSystolic}} / {{ middleItem.bloodPressureDiastolic}} </div>
                </div>
                <div class="blood-pressure-statistic-header_item">
                    <div class="blood-pressure-statistic-header_item-name">Рекорд (макс)</div>
                    <div class="blood-pressure-statistic-header_item-value">{{ recordMax }}</div>
                </div>
                <div class="blood-pressure-statistic-header_item">
                    <div class="blood-pressure-statistic-header_item-name">Рекорд (мин)</div>
                    <div class="blood-pressure-statistic-header_item-value">{{ recordMin}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</div>
