<ion-content [fullscreen]="true" class="body-temperature-item-dialog">
    <ion-header class="body-temperature-item-dialog-header">
        <h3>
            Температура
        </h3>
    </ion-header>
    <form [formGroup]="weightFormGroup">
        <div class="body-temperature-item-dialog-content">
            <div class="body-temperature-item-dialog-content_form-field">
                <app-input-date [dateControl]="dateControl"></app-input-date>
            </div>
            <div class="body-temperature-item-dialog-content_form-field">
                <app-input-time [timeControl]="timeControl"></app-input-time>
            </div>
            <div class="body-temperature-item-dialog-content_form-field">
                <app-input-number
                    label="Температура"
                    placeholder="Ваш текущий вес"
                    min="30" max="42"
                    [numberControl]="temperatureControl"
                    icon="thermometer"
                ></app-input-number>
            </div>
            <div class="body-temperature-item-dialog-content_form-field">
                <app-input-well-being [wellBeingControl]="wellBeingControl"></app-input-well-being>
            </div>
            <div class="body-temperature-item-dialog-content_form-field">
                <app-comment label="Как вы себя чувствуете?" [commentControl]="commentControl"></app-comment>
            </div>

        </div>

        <ion-footer class="body-temperature-item-dialog-footer">
            <app-dialog-buttons
                    class="body-temperature-item-dialog-footer_content"
                    [mode]="this.data.mode"
                    (saveEmitter)="saveAction()"
                    (cancelEmitter)="cancelAction()"
                    (removeEmitter)="removeAction()"
            ></app-dialog-buttons>
        </ion-footer>
    </form>
</ion-content>
