<ion-content [scrollEvents]="true" >
    <div style="justify-content: flex-start;">
        <app-blood-pressure-item-new
                (saveBloodPressureEmitter)="saveBloodPressureAction($event)"
        ></app-blood-pressure-item-new>
        <app-blood-pressure-chart
                [bloodPressureList]="bloodPressureList"
        ></app-blood-pressure-chart>
        <app-blood-pressure-table
                [bloodPressureList]="bloodPressureList"
                (removeBloodPressureEmitter)="removeBloodPressureAction($event)"
        ></app-blood-pressure-table>
    </div>
</ion-content>
